<html>
    <body>
        <h1>Credit Card Approval Portal</h1>
        <form action="/" method="post">
            
            <h3><p>1. How many children do you have?</p></h3>
            <p><input type="number" step="1" name="cnt_children"></p>
            
            <h3><p>2. What is your Annual Income?</p></h3>
            <p><input type="number" step="500" name="amtincometotal"></p>
            
            <h3><p>3. What is your Age?</p></h3>
            <p><input type="number" step="1" name="age"></p>
            
            <h3><p>4. How many years have you been employed?</p></h3>
            <p><input type="number" step="1" name="yearsemployed"></p>
            
            <h3><p>5. How many family members do you have? (Please exclude yourself)</p></h3>
            <p><input type="number" step="1" name="family"></p>

            <h3><p>6. What is your gender?</p></h3>
            <input type="checkbox" name="gender" value="Male">
            <label for="Gender1"> Male</label><br>
            <input type="checkbox" name="gender" value="Female">
            <label for="Gender2"> Female</label><br>
            
            <h3><p>7. Do you own a Car?</p></h3>
            <input type="checkbox" name="flagowncar" value="Yes">
            <label for="FlagOwnCar1"> Yes</label><br>
            <input type="checkbox" name="flagowncar" value="No">
            <label for="FlagOwnCar2"> No</label><br>
            
            <h3><p>8. Do you own any realty?</p></h3>
            <input type="checkbox" name="realty" value="Yes">
            <label for="Realty1"> Yes</label><br>
            <input type="checkbox" name="realty" value="No">
            <label for="Realty2"> No</label><br>
            
            <h3><p>9. What is your Income Type?</p></h3>
            <input type="checkbox" name="income" value="Commercial associate">
            <label for="Income1"> Commercial associate</label><br>
            <input type="checkbox" name="income" value="Pensioner">
            <label for="Income2"> Pensioner</label><br>
            <input type="checkbox" name="income" value="State servant">
            <label for="Income3"> State servant</label><br>
            <input type="checkbox" name="income" value="Working">
            <label for="Income4"> Working</label><br>

            <h3><p>10. What is your Education Type?</p></h3>
            <input type="checkbox" name="education" value="Academic degree">
            <label for="Education1"> Academic degree</label><br>
            <input type="checkbox" name="education" value="Higher education">
            <label for="Education2"> Higher education</label><br>
            <input type="checkbox" name="education" value="Incomplete higher">
            <label for="Education3"> Incomplete higher</label><br>
            <input type="checkbox" name="education" value="Lower secondary">
            <label for="Education4"> Lower secondary</label><br>
            <input type="checkbox" name="education" value="Secondary / secondary special">
            <label for="Education5"> Secondary / secondary special</label><br>
            
            <h3><p>11. What is your Marital Status?</p></h3>
            <input type="checkbox" name="family" value="Married">
            <label for="family1">Married</label><br>
            <input type="checkbox" name="family" value="Single / not married">
            <label for="family2">Single / not married</label><br>
            <input type="checkbox" name="family" value="Separated">
            <label for="family2">Separated</label><br>
            <input type="checkbox" name="family" value="Widow">
            <label for="family3">Widow</label><br>
            
            <h3><p>12. What is your Housing Type?</p></h3>
            <input type="checkbox" name="housingtype" value="Co-op Apartment">
            <label for="Housing1"> Co-op Apartment</label><br>
            <input type="checkbox" name="housingtype" value="House / Apartment">
            <label for="Housing2"> House / Apartment</label><br>
            <input type="checkbox" name="housingtype" value="Municipal Apartment">
            <label for="Housing3"> Municipal Apartment</label><br>
            <input type="checkbox" name="housingtype" value="Office Apartment">
            <label for="Housing4"> Office Apartment</label><br>
            <input type="checkbox" name="housingtype" value="Rented Apartment">
            <label for="Housing5"> Rented Apartment</label><br>
            <input type="checkbox" name="housingtype" value="With Parents">
            <label for="Housing6"> With Parents</label><br>
            
            <h3><p>13. What is your Occupation Type?</p></h3>
            <input type="checkbox" name="occupancy" value="Accountants">
            <label for="Occupancy1"> Accountants</label><br>
            <input type="checkbox" name="occupancy" value="Cleaning Staff">
            <label for="Occupancy2"> Cleaning Staff</label><br>
            <input type="checkbox" name="occupancy" value="Cooking Staff">
            <label for="Occupancy3"> Cooking Staff</label><br>
            <input type="checkbox" name="occupancy" value="Core Staff">
            <label for="Occupancy4"> Core Staff</label><br>
            <input type="checkbox" name="occupancy" value="Drivers">
            <label for="Occupancy5"> Drivers</label><br>
            <input type="checkbox" name="occupancy" value="HR Staff">
            <label for="Occupancy6"> HR Staff</label><br>
            <input type="checkbox" name="occupancy" value="High Skill Tech Staff">
            <label for="Occupancy7"> High Skill Tech Staff</label><br>
            <input type="checkbox" name="occupancy" value="IT Staff">
            <label for="Occupancy8"> IT Staff</label><br>
            <input type="checkbox" name="occupancy" value="Laborers">
            <label for="Occupancy9"> Laborers</label><br>
            <input type="checkbox" name="occupancy" value="Low Skill Laborers">
            <label for="Occupancy10"> Low Skill Laborers</label><br>
            <input type="checkbox" name="occupancy" value="Managers">
            <label for="Occupancy11"> Managers</label><br>
            <input type="checkbox" name="occupancy" value="Medicine Staff">
            <label for="Occupancy12"> Medicine Staff</label><br>
            <input type="checkbox" name="occupancy" value="No Occupation">
            <label for="Occupancy13"> No Occupation</label><br>
            <input type="checkbox" name="occupancy" value="Private Service Staff">
            <label for="Occupancy14"> Private Service Staff</label><br>
            <input type="checkbox" name="occupancy" value="Realty Agents">
            <label for="Occupancy15"> Realty Agents</label><br>
            <input type="checkbox" name="occupancy" value="Sales Staff">
            <label for="Occupancy16"> Sales Staff</label><br>
            <input type="checkbox" name="occupancy" value="Secretaries">
            <label for="Occupancy17"> Secretaries</label><br>
            <input type="checkbox" name="occupancy" value="Security Staff">
            <label for="Occupancy18"> Security Staff</label><br>
            <input type="checkbox" name="occupancy" value="Waiters/Barman Staff">
            <label for="Occupancy19"> Waiters/Barman Staff</label><br>

            <input type="submit" value="Submit">
        </form>
        <p>Your credit card is {{result1}}</p>
    </body>
</html> 