<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/credit-card-preassessment/css/style.css" > 
</head>

<html>
  <body>
    <div class="main">
      <div class="navbar">
          <div class="icon">
              <h2 class="logo">ABC Bank</h2>
          </div>

          <div class="menu">
              <ul>
                  <li><a href="#">HOME</a></li>
                  <li><a href="#">ABOUT</a></li>
                  <li><a href="#">APPLY</a></li>
                  <li><a href="#">CONTACT</a></li>
              </ul>
          </div>

          <div class="search">
              <input class="srch" type="search" name="" placeholder="Type To text">
              <a href="#"> <button class="btn">Search</button></a>
          </div>

      </div> 
      <div class="content">
          <h1 align="left"> Credit Card <br><span>Pre-Assessment Portal</span> <br></h1>
          <p align="left" class="par">      Welcome to ABC's Credit Card Customer Pre-Assessment Portal.<br> Customers may
            use this page to determine their suitability for the credit card selected,<br>
            by comparing the result of our in built Machine Learning Models.<br> To
            continue, please fill up the form below.<br><br><br><br>

              

              <div class="form">
                  <h2>Login Here</h2>
                  <input type="email" name="email" placeholder="Enter Email Here">
                  <input type="password" name="" placeholder="Enter Password Here">
                  <button class="btnn"><a href="#">Login</a></button>

                  <p class="link">Don't have an account<br>
                  <a href="#">Sign up </a> here</a></p>
                  

      </div>
  </div>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</html>

<html>
  </body>

    <form action="/" method="post">
      <h3 ><p>1. What is your Age?</p></h3>
      <p><input type="number" step="1" name="age" /></p>

      <h3><p>2. What is your Annual Income?</p></h3>
      <p><input type="number" step="500" name="amtincometotal" /></p>

      <h3><p>3. What is your Gender?</p></h3>
      <input type="checkbox" name="gender" value="Male" />
      <label for="Gender1"> Male</label><br /><br />
      <input type="checkbox" name="gender" value="Female" />
      <label for="Gender2"> Female</label><br /><br /><br />
        
      <h3><p>4. What is your Occupation Type?</p></h3>
      <input type="checkbox" name="occupancy" value="Accountants">
      <label for="Occupancy1"> Accountants</label><br>
      <input type="checkbox" name="occupancy" value="Cleaning Staff">
      <label for="Occupancy2"> Cleaning Staff</label><br>
      <input type="checkbox" name="occupancy" value="Cooking Staff">
      <label for="Occupancy3"> Cooking Staff</label><br>
      <input type="checkbox" name="occupancy" value="Core Staff">
      <label for="Occupancy4"> Core Staff</label><br>
      <input type="checkbox" name="occupancy" value="Drivers">
      <label for="Occupancy5"> Drivers</label><br>
      <input type="checkbox" name="occupancy" value="HR Staff">
      <label for="Occupancy6"> HR Staff</label><br>
      <input type="checkbox" name="occupancy" value="High Skill Tech Staff">
      <label for="Occupancy7"> High Skill Tech Staff</label><br>
      <input type="checkbox" name="occupancy" value="IT Staff">
      <label for="Occupancy8"> IT Staff</label><br>
      <input type="checkbox" name="occupancy" value="Laborers">
      <label for="Occupancy9"> Laborers</label><br>
      <input type="checkbox" name="occupancy" value="Low Skill Laborers">
      <label for="Occupancy10"> Low Skill Laborers</label><br>
      <input type="checkbox" name="occupancy" value="Managers">
      <label for="Occupancy11"> Managers</label><br>
      <input type="checkbox" name="occupancy" value="Medicine Staff">
      <label for="Occupancy12"> Medicine Staff</label><br>
      <input type="checkbox" name="occupancy" value="No Occupation">
      <label for="Occupancy13"> No Occupation</label><br>
      <input type="checkbox" name="occupancy" value="Private Service Staff">
      <label for="Occupancy14"> Private Service Staff</label><br>
      <input type="checkbox" name="occupancy" value="Realty Agents">
      <label for="Occupancy15"> Realty Agents</label><br>
      <input type="checkbox" name="occupancy" value="Sales Staff">
      <label for="Occupancy16"> Sales Staff</label><br>
      <input type="checkbox" name="occupancy" value="Security Staff">
      <label for="Occupancy17"> Security Staff</label><br>
      <input type="checkbox" name="occupancy" value="Waiters/Barman Staff">
      <label for="Occupancy18"> Waiters/Barman Staff</label><br>
      
      <h3><p>5. Do you have any Realty?</p></h3>
      <input type="checkbox" name="realty" value="Yes" />
      <label for="Realty1"> Yes</label><br /><br />
      <input type="checkbox" name="realty" value="No" />
      <label for="Realty2"> No</label><br /><br /><br />
    
      <input type="submit" value="Submit" />
    </form>
    <p>Pre Assessment Status (Random Forest):{{result1}}</p>
    <p>Pre Assessment Status (Decision Tree):{{result2}}</p>
    <p>Pre Assessment Status (Logistic Regression):{{result3}}</p>
  </body align="left">
</html>
